body, * {
    font-family: 'Raleway', sans-serif;    
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h1 span {
    font-size: 3rem;
}

button {
    display: block;
    margin: 20px auto;
}

a:hover {
    text-decoration: none;
}

input.form-control {
    width: 100%;
}

textarea {
    width: 100%;
}